body {
    cursor: none;
}

.centered-container {
    display: flex;
    align-items: flex-start; /* Ensures left and right sides align at the top */
    cursor: default;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; /* Ensures content inside starts at the top */
    padding-top: 50px; /* Adjust if needed for consistency */
}

h1.skills {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    text-align: center;
    width: 100%; 
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    text-align: center;
    color: #FFF; 
    padding-top: 40px; 
}

.coding-skills, 
.leadership-skills, 
.tech-skills, 
.projects {
    padding: 10px;
    border: 1px solid #444; /* Optional: Just to visually separate sections */
    border-radius: 5px;
}

.centered-container h1 {
    color: #FFF;
    text-shadow: 8px 8px 0 #000;
}

@keyframes rotateGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.right-side h3 {
    font-size: 1.5rem; /* Adjust for mobile if needed */
    background: linear-gradient(270deg, #2abffa, #06db9b, #ec7df7);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rotateGradient 5s infinite;
    text-align: center;
}

.sub-detail {
    cursor: pointer;
    color: #FFF;
    background-color: #333;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.sub-detail:hover {
    background-color: #555;
}

.experience-container {
    padding-top: 30px;
    text-align: center;

}

.job-title {
    text-align: center;
    padding-top: 20px;
    cursor: pointer; 
    transition: background-color 0.3s, filter 0.3s;
    filter: blur(3px);
}

.job-title:hover, .job-title.active {
    filter: blur(0);  
}

#floating-brush {
    position: absolute;
    width: 23px;
    height: 32px;
    background: url('/assets/images/resume/paintbrush-cursor.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: block !important;
}

@media (max-width: 767px) {
    .experience-container {
        padding-top: 50px;
        text-align: center;
    }

    .skills-container {
        max-height: 100vh; /* Ensures scrolling is possible */
        overflow-y: auto; 
        padding: 10px;
        background-color: #000; /* Ensure a consistent background if needed */
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
    }

    .coding-skills, .other-skills {
        width: 100%;
        text-align: center;
    }
}